.editar{
    display: flex;

    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 90vh;
}

.container-teste{
    display: flex;
    flex-direction: column;
    padding-left: 15rem;
    padding-right: 2rem;



}


.conatiner_text{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.conatiner_text a{
    width: 15%;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: rgb(56, 56, 56);
    border: 1px solid #ececec;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ;
    font-weight: 600;
    color: rgb(56, 56, 56);

}

.conatiner_text a:hover{
    background-color: rgb(59, 166, 238);
    color: rgb(255, 255, 255);
    border: none;
}

.conatiner_btn{
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 2rem;
}

.conatiner_btn button{
    display: flex;
    width: 15%;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    outline: none;
    border: none;

}

.conatiner_btn button:nth-child(2){
    background-color: rgb(22, 148, 22);
}


.nav-adm{
    display: flex;
    background-color: rgb(243, 243, 243);
    width: 10%;
    height: 100vh;
    position: fixed;
    justify-content: start;

}



.nav-adm ul{
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    display: flex;
    margin-top: 5rem;
    

}

.nav-adm ul a{
    font-size: 1.2rem;
    display: flex;
    text-decoration: none;
    color: rgb(56, 56, 56);
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    border-radius: 5px;
    font-weight: 500;
}


.nav-adm ul a:hover{
    background-color: rgb(214, 214, 214);

}



.map-body{
    display: flex;
    width: 60%;
    flex-direction: column;
    height: auto;
    background-color: rgba(247, 247, 247, 0);
    border-radius: 5px;
    padding: 1rem;
    padding-top: unset;
    gap: 1rem;
    border: 1px solid rgb(238, 238, 238);
    align-items: center;
    position: relative;

}

.palco{
    display: flex;
    background-color: rgb(70, 70, 70);
    width: 90%;
    height: 40px;
    justify-self: center;
    border-radius: 0px 0px 5px 5px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 500;

}
.container_mapa{
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 5px;
}


h5{
    width: 100%;
    justify-content: start;
    color: rgb(110, 110, 110);
    font-size: 15px;
    font-weight: 500;

 

}


.conatiner_body_ingresso{
    display: flex;
    gap: 2rem;
    width: 100%;
    height: 100%;
    
}


.map-setor {

    border-radius: 5px;
    display:block;
    width: 90%;
    height: auto;
  
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(248, 248, 248);
    position:sticky;
    padding: 5px;



}




.setor-cadeiras {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
   
    width: 100%;
    justify-content: center;
 
}



.fileiras-cadeira{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
   
    padding: 5px;
    border: 1px solid rgb(230, 230, 230);

}



.map-cadeira-livre {
    width: 30px;
    height: 30px;
    background-color: #62e07f; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: all 0.2s;
    text-decoration: none;
}

.map-cadeira-ocupada {
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: all 0.2s;
    background-color: rgb(218, 74, 74);
    text-decoration: none;
}




.map-cadeira-livre:hover{
    background-color: #ececec;
    color: black;
    cursor: pointer;
}






.checkout-lateral{
    display: flex;
    background-color: rgba(228, 228, 228, 0.199);
    height: auto;
    width: 100%;
    border-radius: 5px;
    flex-direction: column;
    border-radius: 5px;
}





.checkout-lateral-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(218, 218, 218);
    padding: 1rem;
    border-radius: 5px;
    color: rgb(82, 82, 82);
    font-weight: 500;
    font-size: 14px;

}

.checkout-lateral-header a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(110, 110, 110);
    background-color: white;
    padding: 0.3rem;
    border-radius: 5px;
    transition: all 0.2s ease;
}


.checkout-lateral-header a:hover{
    background-color: rgb(53, 53, 53);
    color: white;

}




.checkout-lateral-body{
    display: flex;
 
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem;
}

.ingreso-escolhido{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius:  50px 20px 30px;
  
    

}

.ingresso_delete{
    width: 10%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(110, 110, 110);

}

.ingresso_delete a{
    border: none;
    background-color: unset;
    border-radius: 50%;
    color: red;
    width: 30px;
    height: 30px;
    transition: all  0.2s ease;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.ingresso_delete a:hover{
    background-color: rgb(255, 201, 201);
}


.selecionada{
    background-color: purple;
}

.ingresso-left{
    width: 30%;
 
    font-weight: 500;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  
    padding: 1rem;
    
}

.ingresso-left .number-escolhido{
    display: flex;
    background-color: #ff5e00;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}


.ingresso-right{
    width: 60%;
 
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;

}

.ingresso-right .conatiner_search{
    display: flex;
    width: 90%;
    gap: 10px;
    
}
.conatiner_search input{
    display: flex;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 10px;
    outline-color: #ececec;

    border: 1px solid rgb(231, 231, 231);
}
.conatiner_search button{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(110, 110, 110);
}

.select-pessoas{
    display: flex;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline-color: #ececec;
    background-color: #f1f1f163;

}

.total-ingresos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(63, 63, 63);
    padding-left: 1rem;
}



.total-ingresos span{
    display: flex;
    font-size: 20px;
    padding-right: 1rem;
    font-weight: 500;
}




.shape{
    display: flex;
    width: 90%;
    height: 1px;
    background-color: rgb(218, 218, 218);
    margin-top: 10px;
    justify-self: center;
    align-self: center;
}



.checkout-lateral-footer{
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: column;
    margin-top: 10rem;
}


.form-cart{
    display: flex;
    width: 40%;
}




.conatiner_btn_finazliar{
    display: flex;
    width: 100%;
  
    justify-content: end;
    padding: 1rem;

}
.conatiner_btn_finazliar button{
    display: flex;
    width: 30%;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(109, 180, 247);
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}



.conatiner_eventos{
    display: flex;

    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
}

.evento-item{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 1rem;
    width: 20%;
    border: 1px;
}

.evento-item img{
    width: 100%;

    height: 100px;
    border-radius: 5px;
    background-color: #f1f1f179;

}

.evento-item span{
    display: flex;
    color: rgb(110, 110, 110);
    font-weight: 400;
    font-size: 16px;
}
.evento-item span:nth-child(2){
    font-weight: 500;
    font-size: 17px;
}

.evento-item  a{
    display: flex;
    width: 100%;
    height: 40px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 117, 39);
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.evento-item  a:hover{
    border: 1px solid rgb(206, 206, 206);
    background-color: transparent;
    color: rgb(110, 110, 110)
    ;
}