


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/email.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="./scripts/html2canvas.min.js"></script>

 
    <title>Document</title>
</head>
<body>
    <div id="conatiner_tickt_all" class="conatiner_tickt_all">


        <div id="capture" class="container_ticket">
            <div class="container_left_ticket">
                <div class="conatiner_text_ticket">

                    <div class="text-ticket-1">Evento ------------------</div>
                    <div class="text-ticket-2">Senac Music Show</div>
                    <div class="text-ticket-3">Local do evento: Rua Talisma, bairro Vida nova, 353.</div>
                    <div class="container_item_ticket">
                        <div class="flex-ticket">
                            <p>Setor</p>
                            <span>Setor 1</span>
                        </div>
                        <div class="flex-ticket">
                            <p>Assento</p>
                            <span>40</span>
                        </div>
                        <div class="flex-ticket">
                            <p>Data</p>
                            <span>05/08</span>
                        </div>
                    </div>

                </div>
                <img src="./Captura_de_tela_2025-06-16_132104-removebg-preview.png" alt="">
            </div>
            <div class="container_right_ticket">
                <!-- <img src="" alt=""> -->
                <i class="fa-solid fa-qrcode"></i>
                <p>Qrcode:43445454556</p>

            </div>
        </div>
    </div>


    <script>

        html2canvas(document.getElementById('capture')).then(canvas => {
            var teste= document.body.appendChild(canvas)

            var teste = canvas.toDataURL();
            var filename = 'file-name-png'

            var link = document.getElementById('conatiner_tickt_all')

            if(typeof link.download === 'string'){
                let teste = link.href = teste

                console.log(teste)

                
                link.download = filename
             
            }

            console.log(teste)
          
        })

    </script>



   
</body>
</html>

